body {
	font-family: 'Droid Serif', serif;
	color: #003399;
}

#wins {
	line-height: 110px;
	font-size: 20px;
}
#current {
	line-height: 110px;
	font-size: 20px;
}
#letters {
	line-height: 110px;
	font-size: 20px;
}
#remaining {
	line-height: 110px;
	font-size: 20px;
}
/* jumbotron styling */
.jumbotron {
	background: url("../images/Show_Ribbons_2008_06070004_4.2x3.jpg");
	color:  #ffff00;

}